.Modal-show-events {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  outline: none;
  padding: 20px;
  width: 80%;
  height: 70%;
  max-width: 600px;
  max-height: 500px;
  background-color: #252d38;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  overflow: scroll;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow: scroll;
}

.section-modal-events {
  margin-left: 60px;
  padding: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: space-between;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  height: auto;
  width: 75%;
  transition: 0.5s;
  border: 1px solid transparent;
  text-align: center;
}
.section-modal-events:hover {
  border-color: blanchedalmond;
  border-style: solid;
  transform: scale(1.03);
}
.section-modal-events:active {
  transform: scale(0.95);
  background-color: rgb(25, 29, 31);
}
